
:root {
    --darkteal:  #00382b;
    --darkerteal:#001f18;
    --teal:      #006658;
    --lightblue: #95bdbd;
    --gold:      #C48C31;
}

@font-face {
    src: url(fonts/JBReg.ttf);
    font-family: JBReg;
}
@font-face {
    font-family: JBLight;
    src: url(fonts/JBLight.ttf);
}

div.scroller {
    scrollbar-color: var(--lightblue);
}

body {
    margin:0;
    padding:0;
    background-color: var(--darkteal);
    /* 
    Testing a background graident
    background: linear-gradient(0deg, rgba(0,56,43,1) 23%, rgba(0,102,88,1) 70%, rgba(149,189,189,1) 99%) no-repeat;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    */
}
h2 {
    font-family: JBReg;
    color: var(--lightblue)
}
p{
    color: var(--lightblue);
    font-size: 100%;
    font-family: JBReg;
}


.navbar ul{
    list-style-type: none;
    background-color: var(--darkerteal);
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

.navbar a{
    color: var(--lightblue);
    text-decoration: none;
    margin: 0px;
    padding: 15px;
    display: block;
    text-align: center;   
    font-size: 140%;
    font-style: normal;
    font-family: JBLight;
}

.navbar li {

    float: right;
    position: relative;

}

.navbar a:hover{
    background-color: var(--teal);
}

.title_text {
    color: var(--lightblue);
    font-family: JBReg;
    font-size: 4rem;
    padding: 10px;
    margin-top: 20px;
    text-align: center;
}
.pad {
    padding-top: 40px;
    flex-direction: column;
    max-width: 700px;
    text-align: center;
    margin: auto;
    margin-bottom: 30;
}
.pad a{
    margin: 10px;
}

footer{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
canvas{
    position: fixed;
    top: 0;
    left:0;
}